/* Основний текст #212121 */
/* Другорядний #757575 */
/* Білий #FFFFFF */
/* Акцент #2196F3 */
/* Другорядний колір #FFFFFF 60 % */
/* Logo #000000 */

:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --fon-second: #FFFFFF;
    --accent: #2196F3;
    --logo-color: #000000;
   


}

/* body */

body {
    color: var(--main-color);
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

h1 {
    color: var(--fon-second);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    text-align:center
}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
}

 

ul {
    list-style: none;
}
 button {
     cursor: pointer;
 }



/* LOGO */

.logo {
    color: var(--logo-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration-line: none;

}

span {
    color: var(--accent);
}

/* Nav */
 
.nav-contact {
    color: var(--secondary-color);
     text-decoration-line: none;   
}



.contacts {
    font-weight: 500;

}



.nav-contact:hover,
.nav-contact:focus {
    color: var(--accent);
}


.nav:hover,
.nav:focus {
    color: var(--accent);

}


.contact {
    color: #757575;
}

  .nav {
      color: var(--main-color);
      font-size: 14px;
      font-weight: 500;
      line-height: 1.17;
      text-decoration-line: none;
  }

  


 
  /* Банер */

   .baner {
       background-color: #2F303A;
   }

    .button-baner {
        color: var(--fon-second);
        background-color: var(--accent);
        font-size: 16px;
        font-weight: 700;
        line-height: 1.9;
    
        border: 0px;
        text-align: center;
        }
      
      
   .button-baner {
       margin: auto;
       display: block;
   }  


    


/* Features */

   .title-features {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;   
}


   .text-features {
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 1.7;
}

/* Team */

 .team-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
}

.team-text {
color: var(--secondary-color);  
font-size: 16px;
line-height: 1.19;

}

.team {
    background-color: #F5F4FA;
}

/* footer */

.address-text {
    font-style: normal;
    color: #FFFFFF;

}

.footer-color {
    background-color: #2F303A;
}


.footer-text{
    color: var(--fon-second);
    text-decoration-line: none;

    
}
.footer-text:hover,
.footer-text:focus {
    color: var(--accent);
}
 
 .logo-footer {
    color: #FFFFFF;
    font-family: Raleway;
    font-weight: 700;
     font-size: 26px;
    line-height: 1.2;
    text-decoration-line: none;
 }





 


/* PORTFOLIO */

.project {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
}

.progect-text {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.88;
}

/* Filter */

.button-filter {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    background-color: #F5F4FA;
    border: 0px;

}
.nav-portfolio {
    color: var(--accent);
}

.button-filter:hover,
.button-filter:focus {
    background-color: var(--accent);
    color: var(--fon-second);



}










 





